<h1><%= @pharmacy.name %></h1>

<!-- <ul>

  <li>
    <strong>Username:</strong>
    <%= @pharmacy.username %>
  </li>

  <li>
      <%= link "Change Password", to: Routes.pharmacy_path(@conn, :edit, @pharmacy) %>
  </li>

</ul>-->
<hr>
<h3>Locations:</h3>
<%= link "+ Add Location", to: Routes.location_path(@conn, :new) %> <br><br>
<ul>
<%= for location <- @pharmacy.locations do %>
  <li class="location"><strong><%= link location.name, to: Routes.location_path(@conn, :show, location) %></strong></li>
<% end %>
</ul>
<hr>

<span><%= link "Edit Account", to: Routes.pharmacy_path(@conn, :edit, @pharmacy) %></span>
